
::-webkit-scrollbar {
    width: .4rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}